<ul style="background: black; padding: 5px">
    <li><a href="/"> Inicio </a></li>
    <li><a href="/Galeria"> Galeria </a></li>
    <li><a href="/Contactos"> Contactos </a></li>
    <li>Número: {{numero}} </a></li>
</ul>
<style>
    li {
        display: inline-block
    }

    a,
    li {
        color: white
    }
</style>