<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{#if usuario}}
        <h1>La ventas de {{usuario}} son:</h1>
        {{#each ventas}}
            <p>{{this}}</p>
        {{/each}}
    {{/if}}
    {{#unless usuario}}
        <h1>Para poder ver tus ventas te debes loguear</h1>
    {{/unless}}
</body>
</html>